Q1. List any five functions of the pandas library with execution.

1. pd.read_csv():  This method is to read a CSV (Comma seperated value) file and convert it to a dataframe
2. Dataframe.describe(): This method is specially built for numerical data. It generates a summary statistics of various features of a Dataframe. The Statistical measures it includes are mean,median,standard Deviation etc. 
3. Dataframe.loc() : It is used to select rows and columns based on their labeled index or labeled based location in DataFrame.
4. Dataframe.iloc() : It is used to select rows and columns based on their integer-based index in a DataFrame. 
5. DataFrame.apply() : It is used when we want to apply a specific operation on each and every element of the dataframe. We can pass the function externally or internally.
6. DataFrame.sort_values() : This function allows you to sort a DataFrame of more than one column. by default it sorts the data is ascending order.
7. DataFrame.assign() : This method allows you to create a new column based on the computation of existing column.
8. DataFrame.isnull() : It returns a Dataframe with same shape as original dataframe but with `True` and `False` indicating the value is missing or not. The missing values will be `True`
and the non-missing value will be `False`.
9. DataFrame.dropna() : This method is used to remove the values which are null or having missing data. It removes the entire rows and column which is having null values.
10. Dataframe.groupby() : This method is used to group rows of a Dataframe based on multiple columns. It allows you to perform aggregate operation such as mean, sum, count, etc.

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [54]:
import pandas as pd
data = {
    'A':[12,98,54,21,97,65,78],
    'B':[74,48,56,31,87,37,98],
    'C':[75,97,46,43,11,24,64]
}

df = pd.DataFrame(data)

num_rows = df.shape[0]
new_index = [i for i in range(1,num_rows*2+1,2)]
df.index = new_index

df

     A   B   C
1   12  74  75
3   98  48  97
5   54  56  46
7   21  31  43
9   97  87  11
11  65  37  24
13  78  98  64

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.
For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should calculate and print the sum of the first three values, which is 60.

In [55]:
import pandas as pd
dff = pd.DataFrame({'Values':[10,20,30,40,50]})

dff['Values'].head(3).sum()

60

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [56]:
import pandas as pd
df1 = pd.DataFrame({
    'Text':['Welcome','to','Pandas','Libary']
})

df1['Word_count'] = df1['Text'].apply(lambda i : len(i))
df1

      Text  Word_count
0  Welcome           7
1       to           2
2   Pandas           6
3   Libary           6

Q5. How are DataFrame.size() and DataFrame.shape() different?

* Dataframe.size() : It return all the element present in the dataset as a whole
* Dataframe.shape() : It return the number of rows and columns in a comma seperated tuple.

In [73]:
df4.size

15

In [74]:
df4.shape

(5, 3)

Q6. Which function of pandas do we use to read an excel file?

With the help of .read_excel() method we can read an excel file.

In [58]:
df2 = pd.read_excel('titanic.xlsx')

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.

The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

In [59]:
import pandas as pd
df3 = pd.DataFrame({
    'Email':['gaurab@gmail.com','sudh@gmail.com','krish@gmail.com']
})

df3['Username'] = df3['Email'].apply(lambda i : len(i.split('@')[0]))
df3

              Email  Username
0  gaurab@gmail.com         6
1    sudh@gmail.com         4
2   krish@gmail.com         5

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.

In [69]:
import pandas as pd
df4 = pd.DataFrame({
    'A': [3, 8, 6, 2, 9],
    'B': [5, 2, 9, 3, 1],
    'C': [1, 7, 4, 5, 2]
})

df5 = df4[(df4['A'] > 5) & (df4['B'] < 10)]

df5

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [61]:
import pandas as pd
df6 = pd.DataFrame({'Values':[10,20,30,40,50]})

print(f"Mean: ",df6.mean())
print(f"Median: ",df6.median())
print(f"Standard Deviation: ",df6.std())

Mean:  Values    30.0
dtype: float64
Median:  Values    30.0
dtype: float64
Standard Deviation:  Values    15.811388
dtype: float64

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [62]:
import pandas as pd
df7 = pd.DataFrame({
    'Sales': [100, 165, 811, 600, 525, 654, 546],
    'Date': ['01-03-2022', '03-04-2022', '10-05-2022', '01-06-2022','08-07-2022','02-08-2022','03-09-2022']
})
df7['Moving_Average'] = df7['Sales'].rolling(window=7,min_periods=1).mean()
df7

   Sales        Date  Moving_Average
0    100  01-03-2022      100.000000
1    165  03-04-2022      132.500000
2    811  10-05-2022      358.666667
3    600  01-06-2022      419.000000
4    525  08-07-2022      440.200000
5    654  02-08-2022      475.833333
6    546  03-09-2022      485.857143

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.

In [63]:
import pandas as pd
df = pd.DataFrame({
    'Date': ['01-03-2022', '03-04-2022', '10-05-2022', '01-06-2022', '02-08-2022']
})
df['Date'] = pd.to_datetime(df['Date'])
df['Weekday'] = df['Date'].dt.day_name()

df

        Date    Weekday
0 2022-01-03     Monday
1 2022-03-04     Friday
2 2022-10-05  Wednesday
3 2022-01-06   Thursday
4 2022-02-08    Tuesday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [64]:
import pandas as pd

data = pd.date_range(start='2022-10-01',end='2023-02-28')

df_date = pd.DataFrame(data,columns=['Date'])

df_range_date = pd.DataFrame(pd.date_range(start='2023-01-01',end='2023-01-31'),columns=['Selected_Date'])
df_range_date

   Selected_Date
0     2023-01-01
1     2023-01-02
2     2023-01-03
3     2023-01-04
4     2023-01-05
5     2023-01-06
6     2023-01-07
7     2023-01-08
8     2023-01-09
9     2023-01-10
10    2023-01-11
11    2023-01-12
12    2023-01-13
13    2023-01-14
14    2023-01-15
15    2023-01-16
16    2023-01-17
17    2023-01-18
18    2023-01-19
19    2023-01-20
20    2023-01-21
21    2023-01-22
22    2023-01-23
23    2023-01-24
24    2023-01-25
25    2023-01-26
26    2023-01-27
27    2023-01-28
28    2023-01-29
29    2023-01-30
30    2023-01-31

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

The very first and the most important library is itself pandas to perform basic function

In [65]:
import pandas as pd